<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Brain Cruncher</title>
        <meta name="description" content="A web app that crunches your brain and gives you questions to train your brain.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Welcome to Brain Cruncher</h1>
        <p>A web app that crunches your brain and gives you questions to train your brain.</p>
        <input type="text" id="username" placeholder="Enter your username">
        <select id="mode">
            <option value="single">Single Player</option>
            <option value="multi">Multi Player</option>
        </select>
        <button id = "start-btn">Start</button>
        <script>
            document.getElementById("start-btn").addEventListener("click", async function() {
                const username = document.getElementById("username").value;
                const mode = document.getElementById("mode").value;
                // Save username to localStorage
                localStorage.setItem("username", username);
                await fetch('/add_player', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ player_name: username})
                })
                if (mode === "single") {
                    window.location.href = `/start`;
                } else {
                    window.location.href = `/start/multiplayer`;
                }
            });
            
            // To retrieve the username later, use: localStorage.getItem("username")
        </script>
    </body>
</html>